---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #ff9966;
    background-image: linear-gradient(120deg, #ff9966, #993300);
    height: 580px;
}

.visuals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}